$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #9575CD;
$background-pale: #D1C4E9;

$background-moredark: #4527A0;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

h6 {
  border: 2px solid white;
  padding: 5px;
}

a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.active {
    background: $background-moredark;
}
