<div class="sidenav">
    <div class="chapter">
      <ul>
        <li><a routerLink="/math-zone/algebra" routerLinkActive="active">Algebra</a></li>
      </ul>
      <ul>
        <li><a routerLink="/math-zone/arithmetic" routerLinkActive="active">Arithmetic</a></li>
      </ul>
      <ul>
        <li><a routerLink="/math-zone/geometry" routerLinkActive="active">Geometry</a></li>
      </ul>
      <ul>
        <li><a routerLink="/math-zone/2d-shapes" routerLinkActive="active">2D shapes</a></li>
      </ul>
      <ul>
        <li><a routerLink="/math-zone/3d-shapes" routerLinkActive="active">3D shapes</a></li>
      </ul>

    </div>
</div>
