.bg {
  background-color: #bbeeff;
  height: 510px;
  width: 1250px;
}

.cent {
  font-family: sans-serif;
  font-size: 50px;
  text-align: center;
  color: Green;
  border: 4px solid Green;
  margin-left: 250px;
  margin-right: 250px;
  padding: 20px;
}

.creator {
  font-family: sans-serif;
  text-align: center;
  color: blue;
  margin-top: 100px;
}

.name {
  text-decoration: underline;
  color: Red;
}
